* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.cotizador{
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img-main{
    height: 100%;
    width: 50%;
    background-image: url(imagenes/ip13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-main h1, h2{
    color: white;
}

.formulario-cot{
    width: 50%;
    text-align: center;
}
